html {
  scroll-behavior: smooth;
}

.spinner-route {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner-route > div {
  background-color: #000;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner-route .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner-route .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner-route .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner-route .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

/* >>>>>>>> Css của Slick */
.slide img {
  width: 20rem;
  margin: 0 auto;
}

.slide {
  /* transform: scale(0.7); */
  transition: transform 500ms;
  opacity: 01;
}

.activeSlide {
  /* transform: scale(1); */
  opacity: 1;
}

.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}
/* <<<<<<<< */

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
}

.point .label {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #00000077;
  border: 1px solid #ffffff77;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 40px;
  font-weight: 100;
  font-size: 14px;
  cursor: help;
}

.point .text {
  position: absolute;
  top: 30px;
  width: 120px;
  padding: 20px;
  border-radius: 4px;
  background: #00000077;
  border: 1px solid #ffffff77;
  color: #ffffff;
  line-height: 1.3em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  transform: translateX(-50%);
}

.point:hover .text {
  opacity: 1;
}

.point.point-0 {
  position: absolute;
  top: 25%;
  left: 25%;
}

.point.point-1 {
  position: absolute;
  top: 75%;
  left: 25%;
}

.point.point-2 {
  position: absolute;
  top: 25%;
  left: 75%;
}

.point.point-3 {
  position: absolute;
  top: 75%;
  left: 75%;
}
